body{
  background: #45484d; /* Old browsers */
  background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(top,  #45484d 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    font-family: 'Arial', 'Verdana';
    color: #EEE;
    font-size: large;
    margin: 0px;
}

#clientCount{
  text-align: center;
  margin-bottom: 5px;
}

canvas{
  margin: 0px;
  position: absolute;
  z-index: 0;
}

#statCanvasL{ right: 50%; }
#statCanvasR{ left: 50%; }

#statsWrapper{
  position: absolute;
  top: 0px;
  width: 100%;
}
#stats{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#wrapper{
  z-index: 10;
  position: relative;
  width: 760px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  font-family: 'Comfortaa', cursive;
}

#wrapper h2{
  text-shadow: rgba(0, 0, 0, 0.6) 2px 2px 4px;
  font-size: 36px;
  text-align: center;
  margin-bottom: 5px;
}

#wrapper h3{
  text-shadow: rgba(0, 0, 0, 0.6) 2px 2px 4px;
  font-size: 24px;
  text-align: center;
}


#prev, #next{
  z-index: 10;
  position: relative;
  background-color: black;
  cursor: pointer;
  float: left;
  width: 50px;
  height: 447px;
  -webkit-transition: background-color 0.5s ease-out;
     -moz-transition: background-color 0.5s ease-out;
      -ms-transition: background-color 0.5s ease-out;
          transition: background-color 0.5s ease-out;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 427px;
}

#prev:hover, #next:hover{
  background-color: #234;
}

#slideshow{
  float: left;
  height: 427px;
  width: 640px;
  overflow: hidden;
  position: relative;
  border: 10px solid black;
  background-color: black;
}

#images{
  float: left;
  display: inline;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 0.5s;
  /*-webkit-transition-timing-function: ease-in;*/
  padding: 0px;
  margin: 0px;
  width: 4480;
  /* TODO: Apply for hardware acceleration */
  -webkit-transform: translate3d(0px,0px,0px);
}

#images img{
  padding: 0px;
  margin: 0px;
  width: 640;
  height: 427;
  opacity: 0.2;
  transition: opacity 0.1s linear;
  -webkit-transition: opacity 0.1s linear;
  /* TODO: Apply for hardware acceleration */
  -webkit-transform: translate3d(0px,0px,0px);
}

#images img.focused{
  opacity: 1;
  transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
}

#debug{
  position: absolute;
  color: gray;
  font-size: small;
}

.clear{
  clear: both;
}

/* Create Fade Key Frames */
@-webkit-keyframes fadeIn { 
  0% { opacity: 0; } 
  50% { opacity: 1; }
  75% { text-shadow: 0px 0px 5px yellow; } 
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; } 
  50% { opacity: 1; }
  75% { text-shadow: 0px 0px 5px yellow; } 
  100% { opacity: 1; }
}
@keyframes fadeIn { from { opacity: 0; } to { opacity: 0.7; } }

/* Shake Animation */
@keyframes shake{ 
  0% { transform: translate(3px, 0); }
  50% { transform: translate(-3px, 0); }
  100% { transform: translate(0, 0); }
}

@-moz-keyframes shake{ 
  0% { -moz-transform: translate(3px, 0); }
  50% { -moz-transform: translate(-3px, 0); }
  100% { -moz-transform: translate(0, 0); }
}

@-webkit-keyframes shake {
  0% { -webkit-transform: translate(3px, 0); }
  50% { -webkit-transform: translate(-3px, 0); }
  100% { -webkit-transform: translate(0, 0); }
}

.shake {
  animation-name: shake; 
  animation-duration: 150ms; 
  animation-iteration-count: 2; 
  animation-timing-function: linear;

  -moz-animation-name: shake; 
  -moz-animation-duration: 150ms; 
  -moz-animation-iteration-count: 2; 
  -moz-animation-timing-function: linear;

  -webkit-animation-name: shake;
  -webkit-animation-duration: 150ms;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-timing-function: linear;
}

.fade-in {
  opacity: 0;  /* invisible on start */
  /* call keyframe named fadeIn, use only 1 time */
  -webkit-animation: fadeIn ease-in 1;  
     -moz-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;

  /* make sure that after animation is done, remain at the last keyframe value (opacity: 1) */
  -webkit-animation-fill-mode: forwards; 
     -moz-animation-fill-mode: forwards;
          animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
          animation-duration: 1s;
}

.fade-in.delay3{
  -webkit-animation-delay: 3s;
     -moz-animation-delay: 3s;
          animation-delay: 3s;
}
